#if ( $driverClassName )
    #set( $is_hsql = ${driverClassName.toLowerCase().contains('hsql')} )
#end
##-- debug dialect: oracle: ${is_oracle}, postgres: ${is_postgres}, hsql: ${is_hsql}, oracleXE: ${is_oracleXE}
